@page
@model FindEvent
@{
    ViewData["Title"] = "Find Events";

}
<div class="mt-2 col-md-12">
    <h1>@ViewData["Title"]</h1>
</div>

@foreach (var item in Model.Event)
{

    <div class="jumbotron ">
        <h1 class="display-4 text-center">@Html.DisplayFor(modelItem => item.Title)</h1>
        <p class="lead text-center">@Html.DisplayFor(modelItem => item.Description)</p>
        <hr class="my-4">
        <p class="font-weight-bold text-center">Date the event was created:  @Html.DisplayFor(modelItem => item.Date) </p>
        <p class="lead">
            <a type="button" asp-area="" asp-page="/JoinEventsPage" asp-route-id="@item.EventID" class="btn btn-primary btn-lg btn-block">Join Event</a>
        </p>
    </div>
}