@page "{id}"
@model razorapp1.Pages.JoinEventsPageModel
@{
    ViewData["Title"] = "Join the event";
}

@if (Model.ShowMessage)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" arial-label="Close"></button>
        @Model.Message
    </div>
}

<div class="card text-center">
    <div class="card-header">
        @Model.Event.Title
    </div>
    <div class="card-body">
        <h5 class="card-title">
            @Model.Event.Title
        </h5>
        <p class="card-text">@Model.Event.Description</p>
        <p>Spots available: @Model.Event.SpotsAvailable</p>
    </div>
</div>

<hr />

@if (!Model.ShowMessage)
{
    <form method="post">
        <button asp-page-handler="Join" class="btn btn-primary">Join</button>
    </form>
}


@if (Model.ShowMessage)
{
    <a type="button" asp-area="" asp-page="/MyEvents" class="btn btn-outline-primary">Your events</a>
    <a type="button" asp-area="" asp-page="/FindEvents" class="btn btn-outline-secondary">More events</a>
}



<div>
    <a asp-page="Index">Back to List</a>
</div>



