@page
@model razorapp1.Pages.MyEventsModel

@{
    ViewData["Title"] = "My Events";
}

<h1>MyEvents</h1>

@if (Model.ShowMessage)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" arial-label="Close">X</button>
        @Model.Message
    </div>

}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventAttendee[0].Event)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventAttendee[0].Event.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EventAttendee)
            {
                <tr>
                    <td>
                        <a asp-page="/JoinEventsPage" asp-route-id="@item.EventID">@Html.DisplayFor(modelItem => item.Event.Title)</a>
                    </td>
                    <td>
                        <p>@Html.DisplayFor(modelItem => item.Event.Description)</p>
                    </td>
                    <td>
                        <button asp-page-handler="Delete" asp-route-id="@item.EventAttendeeID" class="btn btn-xs btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

